<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Manage Rsvp</h1>
    <a href="/rsvps"><button type="submit">Get all Rsvps</button></a>
    <a href="/search"><button type="submit">Get Rsvp by ID </button></a>
    <a href="/newRsvp"><button type = "submit">New Rsvp</button></a>
    <a href="/getRsvpDetails"><button type = "submit">Update Rsvp</button></a>
    <a href="/deleteRsvp"><button type = "submit">Delete Rsvp</button></a>
</body>
</html>